.text-center{
  text-align:center;
}

.menubar{
  /*background:#d32f2f ;*/
  padding: 2vh;
  border-radius:2px;
}

.menubar-link{
  transition:800ms ease-in-out;
  color:black;
  font-weight: bolder;
}

.menubar-link:hover{
  text-decoration: underline;
}

.menubar-link:hover{
  background:#ff867c ;
}
.menubar-link-container{
  //background: red;
  width: 100%;
}

@media all and (max-width: 640px) {
  .menubar-link-container{
    border: 2px solid black;
    border-radius:5px;
  }
}

@media all and (max-width: 520px) {
  .menubar-link{
    font-size:10px;
  }

  .menubar-container{
    padding:1.5vh;
  }
}
