<h1>Home</h1>
<div class="ui-g">
  <div class="ui-sm-12 ui-md-6 ui-lg-6 ui-xl-6">
    <p-card header="Home Devices" id="hd">
      <demo-list [items]="homeDevices"></demo-list>
    </p-card>
  </div>
  <div class="ui-sm-12 ui-md-6 ui-lg-6 ui-xl-6">
    <p-card header="Lab devices">
      <demo-list [items]="labDevices"></demo-list>
    </p-card>
  </div>
  <div class="ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
    <p-card header="Cars" id="cars">
      <demo-cars></demo-cars>
    </p-card>
  </div>
</div>